.navbar-container {
  position: relative;
}

.navbar-container:hover {
  background-color: #161616;
}

.navbar-item {
  position: relative;
  padding: 13px 0px;
  /* background-color: #ff2a2a; */
  /* font-weight: 400; */
  /* font-family: 'SF Pro Text UT', sans-serif; */
  /* font-family: 'SF Pro Text', sans-serif; */
  font-family: 'SF Pro Text Light', sans-serif;
  font-size: 11.666px;
  color: #cccccc;
font-style: normal;
font-weight: 100;
letter-spacing: +0.03em;
/* line-height: 1.4705882353; */
margin-left: 18px;
margin-right: 18px;
cursor: pointer;
}

.navbar-items {
  display: flex;
  justify-content: center;
  font-weight: 300;
  padding-right: 80px;
}

.submenu-container {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #161616;
  left: 0;
  display: none;
  padding-bottom: 40px;
}

.navbar-container:hover .submenu-container {
  display: block; /* Show when navbar is hovered */
}

@font-face {
  font-family: 'SF Pro Text UT';
  src: url('/assets/fonts/SF-Pro-Text-Ultralight.otf');
}

@font-face {
  font-family: 'SF Pro Text Thin';
  src: url('/assets/fonts/SF-Pro-Text-Thin.otf');
}

@font-face {
  font-family: 'SF Pro Text Light';
  src: url('/assets/fonts/SF-Pro-Text-Light.otf');
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/assets/fonts/SF-Pro-Text-Regular.otf');
}

.navbar-submenu {
  position: relative;
  padding-left: 10px;
  height: auto;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  top: -0.9rem;
  font-weight: 400;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 1.45rem;
  color: #E8E8ED;
  line-height: 1.68;
}

.navbar-submenu a:hover {
  color: #ffffff;
}

.navbar2-hidden {
  visibility: hidden;
}