/* DELETE DONT NEED */

/* .navbar2-container {
    background-color: #161616;
  }
  
  .navbar-navigation {
    display: flex;
    align-items: center;
  }
  
  .navbar2-container:hover {
    background-color: #161616;
  } */