.navbar-container {
  position: relative;
}

.navbar-container:hover {
  background-color: #161616;
}

.navbar-item {
  position: relative;
  padding: 10px 20px;
}

.navbar-items {
  display: flex;
  justify-content: center;
  font-weight: 300;
}

.submenu-container {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 300px;
  background-color: #161616;
  left: 0;
  display: none; /* Hide by default */
}

.navbar-container:hover .submenu-container {
  display: block; /* Show when navbar is hovered */
}

.navbar-submenu {
  position: relative;
  padding-left: 10px;
  height: auto;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}